* {
  box-sizing: border-box;
}

.product-img {
  float: left;
}
.product-info {
  margin-top: 100px;
  float: left;
}
.product-price {
  float: right;
}
.product {
  width: 100%;
  background-color: red;
}
