* {
  box-sizing: border-box;
}
html {
  width: 1000px;
  margin: 0 auto;
}
.plist {
  background-color: #eee;
}
.product-img {
  float: left;
  padding: 20px 0 20px 20px;
}
.product-img img {
  width: 320px;
  height: 320px;
  border: 1px solid black;
}
.product-info {
  margin: 20px;
  font-size: 32px;
  float: left;
}
.product-info h1 {
  font-weight: bold;
}
.product-info label {
  font-size: 20px;
}

.product-info h2 {
  font-size: 24px;
  opacity: 0.7;
}
.product-price {
  float: right;
  font-size: 32px;
  margin: 50px 50px 0 0;
}
.product {
  width: 100%;
  background-color: #eee;
}

hr {
  clear: both;
}
#quantity {
  border-radius: 15%;
  padding: 10px 20px;
}
.deletButton {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
  margin-left: 50px;
}
