* {
  box-sizing: border-box;
}
html {
  width: 1280px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* -------------------------  start of rafef --------------------- */

#about {
  display: inline-block;

  margin-top: 100px;
  width: 40%;
  margin-left: 200px;

  padding: 10px;
}
#aboutImg {
  display: inline-block;
  margin-top: -300px;
  margin-left: 400px;
}

.aboutp {
  color: rgb(71, 68, 68);
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 35px;
  padding: 20px;
}
#myh2 {
  color: hsl(64, 45%, 66%);
  font-family: "Abril Fatface", cursive;
  padding-left: 70px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}
#aboutImg img {
  width: 40%;
  height: 50%;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#mymain {
  padding: 30px 0;
  margin-top: 50px;
  background-color: #eee;
  margin-bottom: 20px;
}
.effect {
  display: inline-block;
  width: 310px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#gallary {
  position: relative;
  margin-left: 12px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(94, 92, 92, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 310px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  margin-bottom: 3px;
  font-family: "Amatic SC", cursive;

}

.overlay-imgs {
  display: inline-block;
}

.overlay-imgs:hover .overlay {
  opacity: 1;
}

.locatin {
  display: inline-block;
  margin: 1px;
}
#mapid {
  display: inline-block;
  padding: 20px;
  margin-left: 17px;
}

#branches {
  padding: 20px;
}
#branches p {
  font-size: 40px;
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  text-align: center;
  /* background-color: hsl(64, 45%, 66%; */
}

.info {
  margin: 20px;
  position: relative;
  bottom: 430px;
  left: 500px;
}
.info li {
  font-size: 25px;
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  padding: 10px;
}

.liel {
  margin-left: 5px;
  padding-left: 20px;
}

/* -------------------------  end of rafef --------------------- */

/* -------------------------  staret of dina --------------------- */

.social li {
  color: rgba(92, 126, 121, 0.897);
  list-style-type: none;
  display: inline-table;
  width: 80px;
  height: 70px;
  line-height: 40px;
  padding: 2%;
  border: 1.5px solid rgba(138, 133, 153, 0.4);
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 25px;
  transition: ease 0.9s;
  text-align: center;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
  vertical-align: middle;
  /* &:hover {
    color: rgba(167, 146, 129, 1);
    border: 1px solid rgba(167, 146, 129, 1);
  } */
}

/* .social:hover > li {
opacity: 0.5;
background-color: rgb(117, 124, 124);
}
#ourteam .social:hover > li:hover {
opacity: 1;
} */

#copyright {
  color: rgb(61, 53, 35);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  bottom: auto;
}

#base {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: x-small;
  font-weight: lighter;
  color: rgb(48, 42, 42);
}
#ourteam .button {
  margin-top: 10px;
  border: none;
  outline: 5;
  display: inline-block;
  padding: 8px;
  color: rgba(21, 46, 17, 0.897);
  background-color: rgba(229, 235, 155, 0.999);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: "Amatic SC", cursive;
  font-size: larger;
}

.team-members {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#ourteam .card {
  /* float: left; */
  display: inline-block;
  width: 220px;
  background-color: rgba(230, 235, 155, 0.897);
  padding: 10px;
  margin: 15px;
  /* font-family: "Amatic SC", cursive; */
  /* font-family: "Abril Fatface", cursive; */
  /* font-family: "Amatic SC", cursive; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* text-align: center; */
  /* font-size: larger; */
  /* font-weight: bolder; */
}

#ourteam h1 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  font-weight: bolder;
  padding: 10px;
  font-size: 100px;
  background-color: rgba(229, 235, 155, 0.897);
}
#h2dena {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: "Amatic SC", cursive;
  bottom: 80px;
}

.social,
#copyrightSection {
  margin: 20px 0;
  text-align: center;
}
.social li:hover {
  color: black;
}
footer {
  background-color: rgba(229, 235, 155, 0.897);
  width: 100%;
}
form {
  border: 3px solid #ffffff;
  font-family: "Amatic SC", cursive;
  text-align: center;
}
#formh2 {
  font-family: "Amatic SC", cursive;
  font-size: 80px;
text-align: center;
background: rgb(238, 241, 184);}

#signup1{
  font-size: 35px;
  background: rgb(220, 230, 163);
 }
.container {
  padding: 30px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(233, 207, 121);
  color: #000;
  box-sizing: border-box;
  text-align: center;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #d3db84;
  color: #000;
  border: none;
}



/* -------------------------  end of dina --------------------- */
/* ------------------------- start of ethar -------------------*/

@keyframes headerAnimation {
  0% {
    background-image: url("https://i.pinimg.com/originals/6d/bb/2c/6dbb2c51a24f3d2d34a90516359ea352.jpg");
    background-size: cover;
  }
  33% {
    background-image: url("https://i.pinimg.com/originals/8d/46/19/8d46196113732eb815ad4312a9e2f2a3.jpg");
    background-size: cover;
  }

  66% {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/223/432/non_2x/gift-box-with-red-ribbon-on-blue-background-free-photo.jpg");
    background-size: cover;
    animation-delay: 5s;
  }
  /* 60% {
    background-image: url("https://image.freepik.com/free-photo/yellow-cotton-candy-white-background_42546-1943.jpg");
    background-size: cover; */
  
  /* 75% {
    background-image: url("https://image.freepik.com/free-vector/kawaii-cute-pastel-candy-sweet-desserts-with-funny-faces-cartoon-seamless-pattern-with-different-types-white-background-cafe-restaurant_71374-1148.jpg");
    background-size: cover;
  } */
  /* 90% {
    background-image: url("https://i.pinimg.com/originals/e1/4f/38/e14f3856a3a675c36ac54bd186ba047a.jpg");
    background-size: cover;
    animation-delay: 10s;
  } */
  100% {
    background-image: url("https://i.pinimg.com/originals/6d/bb/2c/6dbb2c51a24f3d2d34a90516359ea352.jpg");
    background-size: cover;
  }

}

.hero-image {
  clear: both;
  position: relative;
  width: 100%;
  height: 600px;
  animation: headerAnimation ease-in 30s infinite;
}
.hero-text {
  text-align: center;
  position: relative;
top: 400px; 
 left: 350px;
  font-size: 80px;
  font-family: 'Reggae One', cursive;
    color: rgb(0, 0, 0);
}
.hero-text #candygifts {
  font-size: 25px;
  font-family: "Amatic SC", cursive;

}
/* text row css by Ethar */
.text-row span,
.text-row div {
  display: inline-block;
  margin: 0px 50px;
}
.text-dark-grey,
.text-hover-dark-grey:hover,
.text-dark-gray,
.text-hover-dark-gray:hover {
  color: rgb(243, 243, 232) !important;
  background-color: hsl(64, 45%, 66%) !important;
}
.text-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.text-center {
  text-align: center !important;
}

#row {
  display: block;
  height: 100%;
  line-height: 1.8;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

.text-container:after,
.text-container:before,
.text-panel:after,
.text-panel:before,
.text-row:after,
.text-row:before,
.text-row-padding:after,
.text-row-padding:before,
.text-cell-row:before,
.text-cell-row:after,
.text-clear:after,
.text-clear:before,
.text-bar:before,
.text-bar:after,
.text-container:after,
.text-container:before,
.text-panel:after,
.text-panel:before,
.text-row:after,
.text-row:before,
.text-row-padding:after,
.text-row-padding:before,
.text-cell-row:before,
.text-cell-row:after,
.text-clear:after,
.text-clear:before,
.text-bar:before,
.text-bar:after {
  content: "";
  display: table;
  clear: both;
}
*:before,
*:after {
  box-sizing: inherit;
}
/* ------------------------- end of ethar -------------------*/

/* --------------------------- start of qassem----------------------- */
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 0px;
  position: fixed;
  margin-bottom: 20px;
  /* background: linear-gradient(to right, red,rgb(95, 7, 7), purple, rgb(202, 91, 202)); */
  width: 100%;
  height: 50px;
  margin-bottom: 110px;
  background:rgba(226, 223, 141, 0.445);
  font-family: "Amatic SC", cursive;
}

nav ul li {
  display: inline;
  width: 30px;
  line-height: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(5, 4, 4);
  font-size: 30px;
  margin-left: 25px;
  padding: 15px;
  width: 20px;
  padding: auto;
}

nav ul li i {
  text-decoration: none;
  color: rgb(77, 62, 62);
  font-size: 20px;
  margin-left: 25px;
  padding: 15px;
  width: 20px;
  padding: auto;
}
nav ul li a:hover {
  border-bottom: 3px solid hsl(0, 0%, 0%);
}
nav ul:hover .active {
  border-bottom: none;
}
.active {
  border-bottom: 3px solid hsl(0, 0%, 0%);
}

#myBtnToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: black;
  cursor: pointer;
  font-size: 45px;
  background-color: transparent;
  border: none;
}

#myBtnToTop:hover {
  color: #555;
}
/*  ------------------------end of qassem ---------------------- */
