* {
  box-sizing: border-box;
}
/* -------------------------  start of rafef --------------------- */

#about {
  display: inline-block;

  margin-top: 100px;
  width: 40%;
  margin-left: 200px;

  padding: 10px;
}
#aboutImg {
  display: inline-block;
  margin-top: -300px;
  margin-left: 400px;
}

.aboutp {
  color: rgb(92, 90, 90);
  font-family: "Caveat", cursive;
  font-weight: bolder;
  font-size: larger;
  padding: 20px;
}
#myh2 {
  color: #e077dd;
  font-family: "Abril Fatface", cursive;
  padding-left: 100px;
  font-weight: bold;
  font-size: 25px;
}
#aboutImg img {
  width: 40%;
  height: 50%;
  float: right;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#mymain {
  padding: 30px 0;
  margin-top: 50px;
  background-color: #46e3f8;
}

/* -------------------------  end of rafef --------------------- */

/* -------------------------  staret of dina --------------------- */

.social li {
    color: rgba(92, 126, 121, 0.897);
    list-style-type: none;
    display: inline-table;
    width: 80px;
    height: 70px;
    line-height: 40px;
    padding: 2%;
    border: 1.5px solid rgba(138, 133, 153, 0.4);
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 25px;
    transition: ease 0.9s;
    text-align: center;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    vertical-align: middle;
    /* &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    } */
  }


/* .social:hover > li {
  opacity: 0.5;
  background-color: rgb(117, 124, 124);

}

#ourteam .social:hover > li:hover {
  opacity: 1;
} */

 #copyright {
  color: rgb(61, 53, 35);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  bottom: auto;
}

 #base {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: x-small;
  font-weight: lighter;
  color: rgb(61, 53, 53);
}
#ourteam .button {
  margin-top: 10px;
  border: none;
  outline: 5;
  display: inline-block;
  padding: 8px;
  color: rgba(204, 216, 202, 0.897);
  background-color: rgb(27, 27, 27);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: "Amatic SC", cursive;
font-size: larger;
}

.team-members {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#ourteam .card {
  /* float: left; */
  display: inline-block;
  width: 220px;
  background-color: rgba(92, 126, 121, 0.300);
  padding: 10px;
  margin: 20px;
  /* font-family: "Amatic SC", cursive; */
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: larger;
  font-weight:bolder;
}

#ourteam h1 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px;
  font-size: 100px;
}
#h2dena{
  text-align: center;
  font-size: 50px;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: "Amatic SC", cursive;
  bottom: 80px;}

  .social,
#copyrightSection {
  margin: 20px 0;
  text-align: center;
}
.social li:hover {
  color: black;
}
footer{
  background-color: rgba(225, 235, 223, 0.897);
  width: 1350px;
}
form {
  border: 3px solid #f1f1f1;
  font-family: "Amatic SC", cursive;
}
#formh2{
  font-family: "Amatic SC", cursive;
font-size: xx-large;
}
/* -------------------------  end of dina --------------------- */
/* ------------------------- start of ethar -------------------*/
#gift {
  font-family: "Dancing Script", cursive;
}
#okashi {
  font-size: 70px;
  text-align: center;
  font-family: 'Reggae One', cursive;
  color: rgb(226, 185, 131);
top: 50px;}
#candygifts {
  font-size: x-large;
  text-align: center;
}
/* background header image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url();
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;

  transform: translate(400%, -500%);
  color: rgb(0, 0, 0);
}

/* how to make slide  */
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 80%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.crossfade > figure:nth-child(1) {
  background-image: url("https://wallpaperaccess.com/full/196127.jpg");
}

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url("https://img1.goodfon.com/wallpaper/nbig/c/12/box-gift-chocolate-candy.jpg");
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url("https://img4.goodfon.com/wallpaper/nbig/3/c3/konfety-rozovyi-fon-zhevatelnye-konfety-rozhok.jpg");
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url("https://wallpaperaccess.com/full/5504190.jpg");
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url("https://s1.1zoom.me/big3/278/Sweets_Lollipop_Candy_Marmalade_Colored_background_555251_3000x2000.jpg");
}
@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
header {
  margin-bottom: 775px;
}
/* ------------------------- end of ethar -------------------*/
